:root {
    --border-style: solid;
    --border-radius: 4.5vmin;
    --border-padding: 0.2vmin;
}

/* Header placeholder - sticky wrapper */
#header-placeholder {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: 2.5vh;
    border: none;
    border-bottom: 0.6vw solid #0f0720;

    /* Header background color */
    background: var(--header-background-color);

    /* Text Color*/
    color: var(--light-text-color);
    
    padding: 2vh 0;
    text-align: center;
    box-shadow: var(--box-shadow);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.2vw;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: var(--border-padding) var(--border-padding) 0 var(--border-padding);
    background: linear-gradient(to bottom, #b783ff, #635090) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}